
  
  <div class="first-block">
   <div class="topmessage">
    <h1>当たり前の日々は、 <br>
    見えないものに支えられている。<br>
    </h1>
   </div>
  </div>

  <div class="second-block">
    <div class="secondmessage">
    <h1>私たちの日常にはモノがあふれている。 <br>
    それらは必要な時・場所・人に届いて初めて意味をなす。 <br>
    物流はそこを支えている。</h1>
    </div>
    </div>
 
    <div class="third-block">
      <div class="thirdmessage">
      <h1>課題<br>
      ・長時間労働<br>
      ・労働力不足
      </h1>
      <h2>対策
      ・時間短縮化
      ・省人化
      </h2>
    </div>
    </div>

 